[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/visu209
[access "refs/for/refs/*"]
	read = group user/visu209
	push = group user/visu209
	label-Code-Review = -2..+2 group user/visu209
	label-Verified = -1..+1 group user/visu209
	rebase = group user/visu209
	removeReviewer = group user/visu209
	submit = group user/visu209
[access "refs/heads/*"]
	read = group user/visu209
	create = group user/visu209
	push = +force group user/visu209
	pushMerge = group user/visu209
[access "refs/tags/*"]
	push = +force group user/visu209
	pushTag = group user/visu209
	pushSignedTag = group user/visu209
